<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	   		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean class="com.swissquote.foundation.serialization.test.environment.SpringContextConfiguration"/>

	<!-- Import spring-rabbit components to send and read message (without spring integration) -->
	<import resource="classpath:/spring-rabbit.xml"/>
	<!-- Import spring-integration components to send and read message (with spring integration) -->
	<import resource="classpath:/spring-integration-amqp.xml"/>

</beans>
